# Part of the Trident project, under the MIT License.
# SPDX-License-Identifier: MIT

Checks: >-
  -*,
  bugprone-*,
  -bugprone-unchecked-optional-access,
  misc-*,
  performance-*
HeaderFilterRegex: '^(.*[/\\])(core|ffi)/(include|lib|python|tools)/.*'
FormatStyle: file
SystemHeaders: false
